__pycache__/
.git/
.venv/
.vscode/

# Data directories
data/
old/
html_examples/

# Plot output directories
plots/
regplots/
IE-plots/
IE-regplots/
noIE-plots/
noIE-regplots/
*.zip

# UD/SUD treebanks
*ud-treebanks-v*/
*_short/
*.tgz

# Google Cloud credentials
*-*.json

# Django/deployment
deployment/
djangotypo/
typometricsapp/
django.ini
manage.py
uwsgi_params

# Nohup logs
nohup*.out

# Old files
figures/*

# Exception to the rule
!sud-treebanks-v2.6/.gitkeep  
!ud-treebanks-v2.7/.gitkeep  
